<!--Esta "clase" se llama en app/views/posts/branch/create_new_post/_signed_in.html.erb-->
<!--Ya por el hecho de crear esta "clase" con el nombre new se va a renderizar cuando llamemos a "new_post_path"-->
<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create a new post</h1>
      <%= render 'posts/new/post_form' %>
    </div>
  </div>
</div>